/*CSS*/
label{
    color: beige;
    font-size: 23px;
    font-family: Impact;
}
body{
    background-color:#708090;
}
header{
    background-color:green;
    height: 100px;
}
footer{
    clear: both;
    background-color: white;
    height: 100px;
}
#div_esquerda{
    background: violet;
    min-height: 200px;
    width: 60%;
    float: left;

}
#div_direita{
    background: firebrick;
    min-height: 200px;
    width: 40%;
    float: right;

}